# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Dataset
dataset/

# Model Weights
outputs/models/*.pth

# Logs
outputs/logs/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Gradio
.gradio/